p {
    color: white;
}
body{
    font-family: Arial;
    margin: 40px;
    background-color: #3c3e4d;
}

header{
    text-align: center;
}

section{
    background-color: #a5a7b0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
